@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap')

*
    box-sizing: border-box
    font-family: 'Karla', sans-serif

    body
        display: flex
        justify-content: center
        align-items: center

        min-height: 100vh
        width: 100%

        margin: 0
        padding: 30px

        background: hsl(204, 43%, 93%)

        #main-body
            height: auto
            width: 100%
            max-width: 700px

            .top
                height: 250px
                width: 100%

                padding: 40px

                border-radius: 10px 10px 0 0

                background: white

                .top-header
                    font-size: 24px
                    font-weight: 700

                    color: hsl(179, 62%, 43%)

                .under-header
                    font-size: 18px
                    font-weight: 700
                    
                    color: hsl(71, 73%, 54%)

                    margin-top: 30px 

                .top-paragraf
                    font-size: 16px
                    line-height: 30px

                    color: hsl(218, 22%, 67%)

            .bottom
                display: flex
                flex-direction: row

                height: 300px
                width: 100%

                .left
                    height: 300px
                    width: 50%

                    padding: 40px

                    border-radius: 0 0 0 10px

                    color: white
                    

                    background: hsl(179, 62%, 42%)

                    .bottom-header
                        font-size: 19px
                        font-weight: 700
                        color: white

                    .price 
                        font-size: 32px
                        font-weight: 700
                        color: white

                        margin-bottom: 0px

                    .subscrition
                        font-size: 15px
                        color: hsl(218, 22%, 80%)

                    .bottom-left
                        font-size: 15px
                        font-weight: 700
                        color: white

                    button
                        height: 50px
                        width: 100%

                        margin-top: 20px 

                        border: none
                        border-radius: 5px

                        box-shadow: 0 10px 20px -5px grey

                        color: white
                        font-weight: 700

                        background: hsl(71, 73%, 54%)

                .right
                    height: 300px
                    width: 50%

                    padding: 40px

                    border-radius: 0 0 10px 0

                    background: hsl(179, 68%, 45%)

                    .bottom-header
                        font-size: 19px
                        font-weight: 700
                        color: white

                    .bottom-right-paragraf
                        line-height: 25px
                        color: hsl(204, 43%, 93%)

                        max-width: 250px

@media (max-width: 700px) 
    body
        overflow-x: hidden

        #main-body
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            width: auto
            padding: 0

            .top
                height: auto
                width: 300px

            .bottom
                flex-direction: column
                justify-content: center
                align-items: center

                height: auto
                width: 600px

                .left
                    border-radius: 0
                    
                .right
                    border-radius: 0 0 10px 10px